body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background-image: url('https://nbcconferencecentre.com/content/uploads/sites/2/2018/02/2017121400120-RubenMay-_RU18490.jpg');
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin: 0 auto;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }